:root {
  --background: #eaeaea;
  --foreground: #181818;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  width: 100vw;
  padding: 1rem;
  position: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.dawn {
  --dawn-start: #c2cfea;
  --dawn-end: #d1c2eab0;

  background-image: linear-gradient(
    to top right,
    var(--dawn-start) 30%,
    var(--dawn-end)
  );
  color: var(--foreground);
}

.sunset {
  --sunset-start: #e76e74;
  --sunset-end: #b85c8ab0;

  background-image: linear-gradient(
    to top right,
    var(--sunset-start) 30%,
    var(--sunset-end)
  );
  color: var(--foreground);
}

.evening {
  --evening-start: #9991d4;
  --evening-end: #443898b0;

  background-image: linear-gradient(
    to top right,
    var(--evening-start) 30%,
    var(--evening-end)
  );
  color: lightgray;
}

.sunny {
  --sunny-start: #d1fffc;
  --sunny-end: #fffb97b0;

  background-image: linear-gradient(
    to top right,
    var(--sunny-start) 30%,
    var(--sunny-end)
  );
  color: var(--foreground);
}

.rainy {
  --rainy-start: #7ca7ce;
  --rainy-end: #707290b0;

  background-image: linear-gradient(
    to top right,
    var(--rainy-start) 30%,
    var(--rainy-end)
  );
  color: var(--foreground);
}

.snowy {
  --snowy-start: #dde5f4;
  --snowy-end: #668eabb0;

  background-image: linear-gradient(
    to top right,
    var(--snowy-start) 30%,
    var(--snowy-end)
  );
  color: var(--foreground);
}

@media screen and (max-width: 744px) {
  header {
    padding: 0.5rem;
  }
}
